
    {% include 'djangoapp/headers.html' %}
    <body>
    <!-- Remove this line the first time you edit this file -->
   
    <!--Add a nav bar here -->
    {% include 'djangoapp/bar_nav.html' %}

    {% if user.is_authenticated %}
    <a class="btn btn-link" href="{% url 'djangoapp:add_review' dealer.id %}">Add review</a>
    {% endif%}  


    <h3> Reviews for {{ dealer.full_name }} </h3>
    <!-- Add reviews as cards -->
    <div class="card-columns">
        {% for revi in reviews %}
        <div class="card">
            <img class="card-img-left" width=25 src="{{MEDIA_URL}}/emoji/{{revi.sentiment}}.png">
            <div class="card-body">
               <h5 class="card-title">{{revi.car_make}}, {{revi.car_model}} </h5>               
               <p class="card-title"> {{ revi.car_year }}</p>
               <p class="card-title"> {{ revi.review }}</p>               
            </div>

        
        </div>
        {% endfor%}
    </div>
    </body>

</html>