
    {% include 'djangoapp/headers.html' %}
    <body>
    <!-- Remove this line the first time you edit this file -->
   
    <!--Add a nav bar here -->
    {% include 'djangoapp/bar_nav.html' %}
    <!--Add a dealer table here -->

    <table id="table" data-filter-control="true" class="table table-striped">
        <thead class="thead-light">
            <tr>
                <th data-field="id">ID</th>
                <th data-field="full_name">Name</th>
                <th data-field="city">City</th>
                <th data-field="address">Address</th>
                <th data-field="zip">Zip</th>
                <th data-field="state" data-filter-control="select">State</th>                
            </tr>
        </thead>
        <tbody>
            {% for dealer in dealership_list %}
                <tr>
                    <td>{{dealer.id}}</td>
                    <td><a href="{% url 'djangoapp:dealer_details' dealer.id %}">{{dealer.full_name}}</a></td>
                    <td>{{dealer.city}}</td>
                    <td>{{dealer.address}}</td>
                    <td>{{dealer.zip}}</td>
                    <td>{{dealer.st}}</td>                    
                </tr>
            {% endfor %}
        </tbody>
    </table>

    </body>

    <script>
        $(function() {
          $('#table').bootstrapTable()
        })
      </script>
</html>
